name: cypress
on: push

jobs:
  cypress:
    runs-on: ubuntu-latest

    env:
      # Default is 4_000 ms.
      # Some tests take >= 1 minute on CI, while they take a few seconds locally. Need to investigate.
      CYPRESS_DEFAULT_COMMAND_TIMEOUT: 120000

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.16.0
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn install

      - name: Use the development environment - note that NextJS will load .env.production as NODE_ENV=production
        run: cp .env.cypress-ci .env.production

      - name: Build the website
        run: yarn build

      - name: Run Cypress test suite
        run: yarn cypress:run

      - name: Upload Cypress artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: cypress-failures
          path: |
            cypress/screenshots/
            cypress/videos/
