name: jest
on: push

jobs:
  jest:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.16.0
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn install

      - name: Jest test suite
        run: yarn test
